<html>
  <head></head>
  <body class='dashboard_body'>
    <div class='dashboard_shade'>
			<div class='dashboard_welcome_body p-5'>
			WELCOME TO <span class='text-warning'>QWINIX</span> ASSET BOARD
			<div>
    </div>
  </body>
</html>